* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: Arial, sans-serif;
	font-size: 16px;
	color: #333;
}
body {
    background-image: url('https://img.freepik.com/free-photo/wide-angle-shot-single-tree-growing-clouded-sky-during-sunset-surrounded-by-grass_181624-22807.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255);
    opacity: 5;
    color:white;
  }

.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 20px;
	text-align: center;
    opacity: 1.0;
}

h1 {
	margin-bottom: 20px;
}

form {
	margin-bottom: 20px;
}

label {
	display: block;
	margin-bottom: 10px;
}

input[type="text"] {
	padding: 10px;
	border: none;
	border-radius: 5px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

button[type="submit"] {
	padding: 10px;
	background-color: #008CBA;
	color: #fff;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}

button[type="submit"]:hover {
	background-color: #006F8E;
}

#weather {
	padding: 20px;
    background-color: rgb(24, 20, 20);
    opacity: 0.8;
    color:white;
	border: 1px solid #ccc;
	border-radius: 20px;
	box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.container{
    margin-top:10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cernter;
}
